.container {
  height: 90%;
  width: 100%;
  overflow-y: hidden;
  margin-top: 5.5rem;
  position: relative;
}

.textContainer {
  display: flex;
  justify-content: center;

  width: 60%;
  margin: auto;
  height: 70%;
  color: white;
  font-weight: 700;
  position: absolute;
}

.text1 {
  margin-top: 10%;
  font-size: 5rem;
  text-transform: uppercase;
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text2 {
  margin-top: 15%;
  font-size: 2rem;
  text-transform: uppercase;
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.paragraph {
  margin-top: 15%;
  margin-left: 23%;
  font-size: 1rem;
  display: flex;

  width: 60%;
  height: 100%;
  color: white;
  font-weight: 700;
  position: absolute;
}

.img {
  height: 90%;
  width: 99vw;
}
